<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stack Calculator</title>
</head>
<body>

<p> This is repo</p>

<a href="http://0.0.0.0:5000/calc/1/push/1">push 0.0.0.0:5000/calc/1/push/1 </a><br>
<a href="http://0.0.0.0:5000/calc/1/push/4">push 0.0.0.0:5000/calc/1/push/4 </a><br>
<a href="http://0.0.0.0:5000/calc/1/peek">peel 0.0.0.0:5000/calc/1/peek </a><br>
<a href="http://0.0.0.0:5000/calc/1/pop">peel 0.0.0.0:5000/calc/1/pop </a><br>
<a href="http://0.0.0.0:5000/calc/1/add">add 0.0.0.0:5000/calc/1/add </a><br>
<a href="http://0.0.0.0:5000/calc/1/subtract">add 0.0.0.0:5000/calc/1/subtract </a><br>
<a href="http://0.0.0.0:5000/calc/1/multiply">multiply 0.0.0.0:5000/calc/1/multiply </a><br>
<a href="http://0.0.0.0:5000/calc/1/divide">divide 0.0.0.0:5000/calc/1/divide</a><br>


</body>
</html>